@model VmLayout
@inject AppDbContext _context;
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    Page result = _context.Pages.FirstOrDefault(p=>p.Name == controllerName);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/assets/media/favicon.png">
    <title>Home</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="~/assets/css/lightslider.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="~/assets/JS/jquery-ui-1.13.1.custom/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/style.min.css">
</head>
<body style="background-image: url(/Uploads/@result.ImageName);">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Apartment" asp-action="Index">Our Apartment</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="About" asp-action="Index">Rio</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Contact" asp-action="Index">Contact </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Apartment" asp-action="Index">Book</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section id="page-title">
            <h3>
                @result.Subtitle
            </h3>
            <h1>
                @result.Title
            </h1>
        </section>
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <div class="col-4">
                            <div class="contact">
                                <h1>
                                    <a href="#">
                                        Contact Us
                                    </a>
                                </h1>
                                <div class="seperator">
                                    <div></div>
                                </div>
                                <p>
                                    Ask us anything! We’re here to <br>
                                    answer any questions you have.
                                </p>

                                @*<span>Email:</span> <a href="mailto:shahinhb@code.edu.az">@Model.Setting.Email</a>*@
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="follow">
                                <h1>
                                    Follow Us
                                </h1>
                                <div class="seperator">
                                    <div></div>
                                </div>
                                <ul class="social">
                                    @foreach (var item in Model.Socials)
                                    {
                                        <li>
                                            <a href="@item.Link" title="@item.Name">
                                                <i class="@item.Icon"></i>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="subscribe">
                                <h1>Subscribe for Updates & Offers</h1>
                                <div class="seperator">
                                    <div>
                                    </div>
                                </div>
                                <form asp-area="Admin" asp-controller="Sub" asp-action="CreateSub" method="post">
                                    <input asp-for="@Model.Sub.MailAddress" type="email" placeholder="Enter your email here">
                                    <button type="submit">Subscribe Now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <p>
                            © Be my guest in Rio. Proudly created with <a href="wix.com">Wix.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/assets/JS/lightslider.js"></script>
    <script src="~/assets/JS/main.js"></script>
    <script src="~/assets/JS/jquery-ui-1.13.1.custom/jquery-ui.min.js"></script>
    <script src="~/assets/JS/DateFunctions.js"></script>
    <script src="~/assets/JS/DatePicker.js"></script>
</body>
</html>