@model AdminPanelUser;
@inject AppDbContext _context;
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        @if (Model.Image == null)
                        {
                            <img src="~/Areas/assets/img/avatar.png" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        }
                        else
                        {
                            <img src="~/Uploads/@Model.Image" class="rounded-circle img-fluid" style="width: 150px;">
                        }

                        @{
                            var role = "";
                            var userRole = _context.UserRoles.FirstOrDefault(u => u.UserId == Model.Id);

                            if (userRole != null)
                            {
                                role = _context.Roles.FirstOrDefault(r => r.Id == userRole.RoleId).Name;
                            }
                        }
                        <h5 class="my-3">@Model.Name @Model.Surname  @@@Model.UserName </h5>
                        <p class="text-muted mb-1">@Model.Position</p>
                        <p class="text-muted mb-4">@role</p>
                        <form asp-area="Admin" asp-controller="Account" asp-action="ProfilePhoto" method="post" enctype="multipart/form-data">
                            <input type="file" asp-for="@Model.ImageFile" />
                            <input type="hidden" asp-for="@Model.Id" />
                            <button class="btn btn-primary" type="submit">Save</button>
                        </form>
                        <style>
                            #ProfileUpdateButton {
                                outline: none;
                                border: none;
                            }

                                #ProfileUpdateButton:hover {
                                    background-color: #333;
                                    color: white;
                                }
                        </style>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Email</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.PhoneNumber</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Address</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Registration Date</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.CreatedDate.ToString("dd/MM/yyyy")</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a asp-area="Admin" asp-controller="Account" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-light" id="ProfileUpdateButton">Edit</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
