@model VmApartmentDetails
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="room">
    <div class="container">
        <div class="row">
            <div class="col-10 col-lg-10 col-sm-12 col-xs-12">
                <div class="title">
                    <a asp-area="" asp-controller="Apartment" asp-action="Index">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <h1>Junior Suite</h1>
                </div>
                <div class="row">
                    <div class="col-8 col-lg-8 col-sm-12 col-xs-12">
                        <div class="slider">
                            <ul id="imageGallery">

                                @foreach (var item in Model.Apartment.ApartmentImages)
                                {
                                    <li data-thumb="/Uploads/@item.Name" data-src="/Uploads/@item.Name">
                                        <img src="~/Uploads/@item.Name" />
                                    </li>
                                }


                            </ul>
                        </div>
                        <div class="info">
                            <div class="item">
                                <div class="row">
                                    <div class="col-4">
                                        <h4>Properties:</h4>
                                    </div>
                                    <div class="col-8">
                                        <ul>
                                            <li> Accomodates: <span>@Model.Apartment.Limit</span></li>
                                            <li> Size: <span>@Model.Apartment.Size</span></li>
                                            <li> Beds: <span>@Model.Apartment.BedCount</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-4">
                                        <h4>More Info:</h4>
                                    </div>
                                    <div class="col-8">
                                        <p>
                                            @Model.Apartment.Info
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-4">
                                        <h4>Amenities:</h4>
                                    </div>
                                    <div class="col-8">
                                        <ul>
                                            @if (Model.Apartment.ApartmentToAmenities != null)
                                            {
                                                @foreach (var item in Model.Apartment.ApartmentToAmenities)
                                                {
                                                    <li> <i class="@item.Amenity.Icon"></i> <span>@item.Amenity.Name</span></li>
                                                }
                                            }
                                            else
                                            {
                                                <p>Soon </p>
                                            }


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-lg-4 col-sm-12 col-xs-12">
                        <div class="book">
                            <span>From</span>
                            <p>$@Model.Apartment.Price</p>
                            <span>Per Night</span>
                            <form asp-area="" asp-controller="Apartment" asp-action="CreateHelper" method="post">
                                <input asp-for="@Model.Reservation.StartDate" type="text" class="datepicker" id="txtFromDate" autocomplete="off" required placeholder="Check In">
                                <input asp-for="@Model.Reservation.EndDate" type="text" class="datepicker" autocomplete="off" id="txtToDate" required placeholder="Check Out">
                                <input asp-for="@Model.Reservation.AdultsCount" min="0" max="@Model.Apartment.Limit" type="number" required>
                                <input asp-for="@Model.Reservation.KidsCount" min="0" max="@Model.Apartment.Limit" type="number" required>
                                <input type="hidden" asp-for="@Model.Reservation.ApartmentId" value="@Model.Apartment.Id" />
                                <input type="hidden" asp-for="@Model.Apartment.Id"/>
                                <input type="hidden" asp-for="@Model.Apartment.Title" value="@Model.Apartment.Title" />
                                <input type="hidden" asp-for="@Model.Apartment.Price" value="@Model.Apartment.Price" />
                                <p class="text-danger" style="font-size:14px">@TempData["Error"]</p>
                                <button type="submit">Book Now</button>
                            </form>

                            <a asp-area="" asp-controller="Apartment" asp-action="GetReserves" asp-route-id="@Model.Apartment.Id" class="btn btn-primary" style="margin-top:40px; font-size:14px;">Reserved Dates</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    

    $(document).ready(function () {


        $('#txtToDate').datepicker({
            dateFormat: "dd/mm/yy"
        });

        $("#txtFromDate").datepicker({
            dateFormat: "dd/mm/yy",
            minDate: new Date(),
            onSelect: function (date) {
                var date1 = $('#txtFromDate').datepicker('getDate');
                var date = new Date(Date.parse(date1));
                date.setDate(date.getDate() + 1);
                var newDate = date.toDateString();
                newDate = new Date(Date.parse(newDate));
                $('#txtToDate').datepicker("option", "minDate", newDate);
            }
        });



    });
</script>