@model VmApartment
@{
    ViewData["Title"] = "Index";
}
<style>
    i {
        text-transform: lowercase;
        cursor: default;
    }
</style>
<section id="rooms">
    <div class="container">
        <div class="row">
            <div class="col-10 col-lg-10 col-sm-12 col-xs-12">
                <h1>Our Rooms</h1>
                @foreach (var item in Model.Apartments)
                {
                    <div class="item">
                        <div class="image col-xs-0">
                            @if (item.ApartmentImages != null)
                            {
                                <img src="~/Uploads/@item.ApartmentImages.FirstOrDefault().Name" style="object-fit: cover" alt="">
                            }
                            else
                            {
                                <img src="https://davescomputertips.com/wp-content/uploads/2015/10/item-not-found-feature.jpg" alt="Alternate Text" />
                            }
                        </div>
                        <div class="description col-xs-12">
                            <div class="info col-xs-12 col-sm-6">
                                <h2>
                                    <a href="#">@item.Title</a>
                                </h2>
                                <span>
                                    @item.Subtitle
                                </span>
                                <ul class="parametres">
                                    <li>Size: <span>260 sq ft</span> </li>
                                    <li>Beds: <span>2 Double(s)</span> </li>
                                </ul>
                                <ul class="features">
                                    @foreach (var element in item.ApartmentToAmenities)
                                    {
                                        <li title="@element.Amenity.Name">
                                            <i class="material-icons f-left">@element.Amenity.Icon</i>
                                        </li>
                                    }

                                </ul>
                            </div>
                            <div class="price col-xs-12 col-sm-6">
                                <span>From</span>
                                <p>$ @item.Price</p>
                                <a asp-area="" asp-controller="Apartment" asp-action="Details" asp-route-id="@item.Id">
                                    More Info
                                </a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</section>

