@model Setting
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form asp-area="Admin" asp-controller="Setting" asp-action="Update" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="@Model.Email" class="form-label">Email</label>
                    <input class="form-control" asp-for="@Model.Email">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Phone" class="form-label">Phone</label>
                    <input class="form-control" asp-for="@Model.Phone">
                    <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Address" class="form-label">Address</label>
                    <textarea class="form-control" asp-for="@Model.Address" id="editorid"> </textarea>
                    <span asp-validation-for="@Model.Address" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-area="Admin" asp-controller="Setting" asp-action="Index">Back to list</a>
            </form>
        </div>
    </div>
</div>