
@model VmAdminAbout
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

@*//Apartment*@
<div class="container">
    <div class="row">
        @*<div class="col-lg-12">
            <a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="About" asp-action="CreateApartment">Create</a>
        </div>
        <hr />*@

        <div class="col-lg-12 mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 0;
                        foreach (var item in Model.AboutApartment)
                        {
                            i++;
                            <tr>
                                <td>@item.Title</td>
                                <td>
                                    @Html.Raw(item.Content)
                                </td>
                                <td>
                                    <a class="btn btn-success" asp-area="Admin" asp-controller="About" asp-action="UpdateApartment" asp-route-id="@item.Id">Update</a>
                                    <a class="btn btn-danger" asp-area="Admin" asp-controller="About" asp-action="DeleteApartment" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


@*Games*@
<div class="container">
    <div class="row">
        @*<div class="col-lg-12">
            <a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="About" asp-action="CreateGames">Create</a>
        </div>
        <hr />*@

        <div class="col-lg-12 mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.AboutGames)
                        {
                            i++;
                            <tr>
                                <td>@item.Title</td>
                                <td>
                                @Html.Raw(item.Content)
                                </td>
                                <td>
                                    <a class="btn btn-success" asp-area="Admin" asp-controller="About" asp-action="UpdateGames" asp-route-id="@item.Id">Update</a>
                                    <a class="btn btn-danger" asp-area="Admin" asp-controller="About" asp-action="DeleteGames" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


@*City*@
<div class="container">
    <div class="row">
        @*<div class="col-lg-12">
            <a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="About" asp-action="CreateCity">Create</a>
        </div>
        <hr />*@

        <div class="col-lg-12 mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.AboutCities)
                        {
                            i++;
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Content</td>
                                <td>
                                    <a class="btn btn-success" asp-area="Admin" asp-controller="About" asp-action="UpdateCity" asp-route-id="@item.Id">Update</a>
                                    <a class="btn btn-danger" asp-area="Admin" asp-controller="About" asp-action="DeleteCity" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


@*Feedback*@
<div class="container">
    <div class="row">
        @*<div class="col-lg-12">
            <a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="About" asp-action="CreateFeedback">Create</a>
        </div>
        <hr />*@

        <div class="col-lg-12 mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.Feedbacks)
                        {
                            i++;
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Content</td>
                                <td>
                                    <a class="btn btn-success" asp-area="Admin" asp-controller="About" asp-action="UpdateFeedback" asp-route-id="@item.Id">Update</a>
                                    <a class="btn btn-danger" asp-area="Admin" asp-controller="About" asp-action="DeleteFeedback" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>



@*Location*@
<div class="container">
    <div class="row">
        @*<div class="col-lg-12">
            <a class="btn btn-primary mb-3" asp-area="Admin" asp-controller="About" asp-action="CreateLocation">Create</a>
        </div>
        <hr />*@

        <div class="col-lg-12 mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Content</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.Locations)
                        {
                            i++;
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Content</td>
                                <td>
                                    <a class="btn btn-success" asp-area="Admin" asp-controller="About" asp-action="UpdateLocation" asp-route-id="@item.Id">Update</a>
                                    <a class="btn btn-danger" asp-area="Admin" asp-controller="About" asp-action="DeleteLocation" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>